.btn {
  background: $color-gray;
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 600;
  margin: 20px;
  @include respond(SP) {
    font-size: 16px;
    font-weight: bolder;
  }
  &:hover {
    background: linear-gradient(
      286deg,
      rgba(34, 193, 195, 1) 0%,
      rgb(196, 240, 40) 70%
    );
  }
}
