$color-main: #454545;
$color-black: #333333;
$color-green: #c9e23f;
$color-white: #ffffff;
$color-gray: #eeeeee;
$color-border: #575757;
$color-border-mobile: #cccccc;
$color-nav-hover: #fafafa;
$bg-news: #fafafa;

$text: Verdana;
